div {
  white-space: nowrap;
}
.table {
  margin: 0;
}
td {
  vertical-align: top;
}
.navbar-brand {
  font-size: 22px;
  padding: 25px 15px 45px 15px;
}
.navbar-default .navbar-brand {
  color: #F8F8F8;
}
.navbar-default .navbar-brand:hover {
  color: #23527c;
}
.navbar-default .navbar-brand:focus {
  color: #E0E0E0;
  background-color: transparent;
}
h2 {
  font-size: 16px;
  margin: 2px;
  font-family: Microsoft YaHei;
}
h3 {
  font-size: 14px;
  margin: 1px;
  font-family: Microsoft YaHei;
}
li {
  list-style: none;
}
small {
  display: block;
  color: #888888;
}
a {
  color: #000033;
}
.panel {
  margin-bottom: 12px;
}
.panel-body {
  padding: 10px;
}
.collapse {
  padding: 10px;
}
.thumbnail {
  margin: 5px 0 5px 0;
  overflow: hidden;
  white-space: nowrap;
}
#wgaccordion .panel-heading {
  padding-top: 8px;
  padding-bottom: 7px;
}
#wgaccordion table {
  table-layout: fixed;
}
#wgaccordion td {
  padding: 5px;
}
#wgaccordion-fh .panel-heading {
  padding: 6px;
}
#wgaccordion-fh .collapse {
  padding: 5px;
}
#link_list60 td {
  padding: 2px;
}
.col-lg-3 {
  width: 100%;
  padding-left: 80px;
}
.col-lg-8 {
  width: 100%;
  padding-right: 80px;
}
.dropdown-toggle {
  float: right;
  color: #FFFFFF;
}
section.content {
  padding: 0px;
}
section.content div.box {
  border: none;
  margin-bottom: 0px;
}
section.content div.box div.carousel_parent {
  margin: 12px 0px;
}
section.content div.box div.carousel {
  background-color: #e4393c;
  padding: 0px 50px;
  height: 110px;
  border-radius: 4px;
}
section.content div.box div.carousel>ol.carousel-indicators{
  bottom:-10px
}
section.content div.box div.carousel>ol.carousel-indicators>li{
  margin: 0px 4px;
}
section.content div.box div.carousel a.carousel-control {
  width: 50px;
  opacity: 0.9;
}
section.content div.box div.carousel a.carousel-control:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  section.content div.box div.carousel a.carousel-control .glyphicon-chevron-left,
  section.content div.box div.carousel a.carousel-control .glyphicon-chevron-right {
    top: 40%;
  }
}
section.content div.box div.carousel div.carousel-inner div.item {
  text-align: center;
}
section.content div.box div.carousel div.carousel-inner div.item a.carouse_link {
  color: #fff;
  font-size: 24px;
  line-height: 110px;
}
section.content div.box div.carousel div.carousel-inner div.item a.carouse_link:hover {
  text-decoration: underline;
}
section.content div.box div.box-header {
  display: none;
}
