div.box-body form div.fieldWrapper,
div.box-body form div.save {
  margin-bottom: 10px;
}
div.box-body form div.fieldWrapper label,
div.box-body form div.save label {
  min-width: 140px;
  text-align: right;
  margin-right: 14px;
}
div.box-body form div.fieldWrapper .btn,
div.box-body form div.save .btn {
  margin-left: 154px;
  padding: 3px 12px;
}
div.box-body #cascade_datas {
  display: none;
}
