section.content div.box div.box-header {
  display: none;
}

.preloader {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  line-height: 200px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  z-index: 9999;
}
.hide{
    display:none;
}

.breadcrumb>li+li:before{
    content:none;
}