.preloader {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  height: 160px;
  line-height: 200px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  z-index: 1;
}
.filterBox .row ul.list-inline li.title {
  width: 80px;
}
.filterBox .row ul.list-inline li > a {
  display: inline-block;
  padding: 2px 4px;
  background-color: #ddd;
  color: #333;
  border-radius: 4px;
}
.filterBox .row ul.list-inline li.active > a {
  color: #fff;
  background-color: #3C8DBC;
}
.filterBox .row .btn-group {
  margin-bottom: 10px;
}
.filterBox .row .btn-group button.btn {
  width: 90px;
  padding: 4px 8px;
}
div.portlist .dataTables_length select {
  border-radius: 3px;
  outline: none;
}
div.portlist .dataTables_filter input {
  border-radius: 4px;
  outline: none;
}
div.portlist .table thead > tr {
  background-color: #6D5397;
  color: #fff;
}
div.portlist .table thead > tr th {
  padding: 7px 18px;
}
div.portlist .table tbody tr > td {
  padding: 6px 18px;
}
