<ul id="nav" class="nav nav-tabs" style="margin-bottom:20px;">
  <li id="comPres" role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">综合呈现<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="nav-config"><a href="/campus_aiops/campus_interfaces_usage_info/">总体图示</a></li>
      <li class="nav-port"><a href="/campus_aiops/port_status_list/">综合查询</a></li>
      <li class="nav-port"><a href="/campus_aiops/auth_type_history_search/">认证方式变更记录</a></li>
      <li class="nav-device"><a href="/device_switch/device_data/" target="_blank">接入资源发布</a></li>
    </ul>
  </li>
  <li id="infMan" role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">信息管理<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class='nav-ip' ><a href="/campus_aiops/ip_list/">白名单信息维护</a></li>
      <li class="nav-vlan"><a href="/campus_aiops/vlan_list/">VLAN信息维护</a></li>
      <li class="nav-dev"><a href="/campus_aiops/dev_list/">园区设备信息维护</a></li>
      <li class="nav-updata"><a href="/campus_aiops/data_refresh/">信息更细与同步</a></li>
      <li class="nav-ref"><a href="/campus_aiops/reference/">参考文档与模块下载</a></li>
    </ul>
  </li>
</ul>
<ol class="breadcrumb">
  <span style="color: #3c8dbc;margin-right: 5px;margin-left: -10px;font-size: 12px;">当前位置：</span>
  <li class="home"><a href="/campus_aiops/">园区网智能运维</a></li> >
  <li class="menu"><a href=""></a></li> >
  <li class="active"></li>
</ol>