div.content_top {
  position: relative;
  z-index: 10;
}
div.content_top > div.aside {
  position: absolute;
  top: 15px;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.85);
}
div.content_top div.device_info {
  left: 15px;
  padding: 15px;
  color: #222;
}
div.content_top div.device_info table tr th {
  padding: 3px 6px;
  min-width: 100px;
}
div.content_top div.device_info table tr td {
  padding: 3px 6px;
}
div.content_top div.port_info {
  right: 0px;
}
div.content_top #canvas {
  background-color: #e5e5e5;
  vertical-align: top;
  cursor: pointer;
}
body {
  position: relative;
  z-index: 1;
}
body .main-footer {
  background-color: #3c8dbc;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  padding: 15px;
  color: #fff;
  border-top: 1px solid #d2d6de;
}
body .main-footer b,
body .main-footer strong {
  font-weight: 700;
}
body .main-footer a {
  color: #fff;
}
body .main-footer .pull-right {
  float: right!important;
}
body #myModal div.modal-body div.table-responsive {
  max-height: 550px;
  overflow-y: auto;
}
